/* Write your CSS here */
.bg-container {
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-heading {
  font-family: 'Bree Serif';
  color: #1e293b;
  font-size: 30px;
}

.search-container {
  width: 530px;
  padding: 10px;
  background-color: #dfe2e5;
  display: flex;
  justify-content: space-between;
  border: 1px solid #7b8794;
}

@media screen and (max-width: 765px) {
  .search-container {
    width: 280px;
    padding: 10px;
    background-color: #dfe2e5;
    display: flex;
    justify-content: space-between;
    border: 1px solid #7b8794;
  }
}

.input-element {
  outline: none;
  border: 0px;
  width: 530px;
  background-color: #dfe2e5;
}

.search-icon {
  height: 20px;
  width: 20px;
}

.tabs-container {
  display: flex;
  list-style-type: none;
}

.apps-container {
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
